{% extends 'base.html' %} 
{% block title %}Create User{% endblock %} 
{% block content %}
<div class="container">
    <h1>Create User</h1>
    <form action="/users/new" method="POST">
        <div class="form-group">
            <label for="inputFirstName">First Name</label>
            <input type="text" class="form-control" id="inputFirstName" name="first_name" placeholder="Enter first name" required>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="inputLastName">Last Name</label>
            <input type="text" class="form-control" id="inputLastName" name="last_name" placeholder="Enter last name" required>
        </div>
        <div class="form-group">
            <label for="inputImgURL">Profile Image URL</label>
            <input type="text" class="form-control" id="inputImgURL" name="image_url" placeholder="https://www.your-image.com">
        </div>
        <a href="/users"><button class="btn btn-secondary">Cancel</button></a>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}