{% extends 'base.html' %} 
{% block title %}Create Post{% endblock %} 
{% block content %}
<div class="container">
    <h1>Add Post for {{user.full_name}}</h1>
    <form action="/users/{{user.id}}/posts/new" method="POST">
        <div class="form-group">
            <label for="inpuptPostTitle">Title</label>
            <input type="text" class="form-control" id="inputFirstName" name="title" placeholder="Enter a title for your post..." required>
        </div>
        <div class="form-group">
            <label for="inputPostContent">Post Content</label>
            <textarea class="form-control" id="inputPostContent" rows="4" name="content" required></textarea>
        </div>
        <div class="form-group">
            <label for="tagSelect">Tag(s)</label>
            <select multiple class="form-control" id="tagSelect" name="tags">
            {% for tag in tags%}
            <option value="{{ tag.id }}">{{ tag.name}}</option>
            {% endfor %}
            </select>
        </div>
        <button type="button" class="btn btn-outline-secondary" onclick="window.location.href='/users/{{user.id}}'">Cancel</button>
        <button type="submit" class="btn btn-primary">Create Post</button>
    </form>
</div>
{% endblock %}