{% extends 'base.html' %} 
{% block title %}Blogly{% endblock %} 
{% block content %}
<div class="container">
  <div class="row mt-3">
      <div class="col-12">
        <h1>Recent Posts</h1>
      </div>
      {% for post in posts %}
        <div class="col-12 post-content mt-2 mb-3">
            <h2>{{post.title}}</h2>
            <p>{{post.content}}</p>
            <em>By <a href="/users/{{post.user.id}}">{{post.user.full_name}}</a> - {{post.pretty_date}}</em>
            {% if post.tags %}
              <p class="mt-2">
              <b>Tags:</b> 
              {% for tag in post.tags %}
                <a href="/tags/{{tag.id}}" class="badge badge-warning">{{tag.name}}</a>
              {% endfor %}
              </p>
            {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}