{% extends 'base.html' %} 
{% block title %}{{post.title}}{% endblock %} 
{% block content %}
<div class="container">
  <div class="row mt-3">
      <div class="col-12">
        <h1>{{post.title}}</h1>
      </div>
      <div class="col-12 post-content">
        <p>{{post.content}}</p>
        <em>By <a href="/users/{{post.user.id}}">{{post.user.full_name}}</a></em>
      </div>
      <div class="col-12 buttons">
        <div class="btn-toolbar mt-3" role="toolbar">
            <div class="btn-group mr-2" role="group" aria-label="Third group">
                <a href="/posts/{{post.id}}/edit" class="btn btn-secondary btn-block">Edit</a>
            </div>
            <div class="btn-group" role="group" aria-label="Third group">
                <form action="/posts/{{post.id}}/delete" method="post">
                    <button type="submit" class="btn btn-danger btn-block">Delete</button>
                </form>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}